<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="tabs/home" slot="start"></ion-back-button>
    &nbsp;Details Page
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <div *ngIf="biz">
    <div class="animated fadeIn container">
      <ion-img
        [src]="biz.thumbnail==''?'../../assets/img/brand.png':biz.thumbnail"
        alt=""
      ></ion-img>
      <div class="overlay"></div>
      <div class="wrapper" *ngIf="biz.level!='raising'">
        <div class="badge">
          <!-- <i class="left"></i>
          <i class="right"></i> -->
          Pro &nbsp;
        </div>
      </div>
    </div>
    <ion-card class="animated fadeInUp">
      <ion-card-header>
        <ion-card-title class="ion-text-center"
          >{{ biz.title }}
          <ion-label
            [ngClass]="{status: biz.status=='Available',nstatus:biz.status!='Available'}"
            >{{ biz.status }}</ion-label
          >
          <p ion-margin size="medium" fill="outline">
            <span>
              <ion-icon
                slot="center"
                *ngFor="let star of Arr(round(biz.rating)).fill(1)"
                name="star"
                color="warning"
              >
              </ion-icon>
              <ion-icon
                slot="center"
                *ngFor="let star of Arr(round(5 - biz.rating)).fill(1)"
                name="star"
                color="medium"
              >
              </ion-icon>
              <ion-text
                >&nbsp;&nbsp;&nbsp;{{round(biz.rating)}}&nbsp;/&nbsp;5</ion-text
              >
            </span>
          </p>
        </ion-card-title>
      </ion-card-header>
      <ion-row
        class="ion-justify-content-center ion-padding-start ion-padding-end ion-padding-bottom"
      >
        <ion-chip
          *ngFor="let tag of biz.tags ; let i = index"
          color="secondary"
          outline
        >
          <ion-label>{{ tag }}</ion-label></ion-chip
        >
      </ion-row>
    </ion-card>
    <ion-card class="animated fadeInUp">
      <ion-card-content>
        <ion-row>
          <ion-col size="2">
            <ion-avatar>
              <img
                src="{{ owner?.photoUrl=='' ? '../../assets/img/user.png': owner?.photoUrl}}"
              />
            </ion-avatar>
          </ion-col>
          <ion-col size="10">
            <ion-row class="owner">
              <ion-label class="name">{{owner?.name}}</ion-label>
            </ion-row>
            <ion-row class="owner">
              <ion-label class="location"
                >{{owner?.location}} &nbsp;&nbsp;&nbsp;&nbsp;
                <ion-badge slot="end" color="primary"
                  >{{ biz.members }}</ion-badge
                >
              </ion-label>
            </ion-row>
          </ion-col>
        </ion-row>

        <br />
        <ion-row></ion-row>
        <div
          style="width: 100%"
          class="ion-justify-content-center"
          *ngIf="!maps"
        >
          <ion-button color="primary" (click)="viewMaps()"
            >Display Maps</ion-button
          >
        </div>
        <div #mapContainer style="width: 300px; height: 170px"></div>

        <ion-row [ngStyle]="{'margin-top': !maps? '-175px':'8px'}">
          <ion-text color="dark" class="ion-padding-top">
            <ion-icon name="pin"></ion-icon>
            <b>&nbsp;{{ biz.location }}</b></ion-text
          >
          <ion-text color="dark" class="ion-padding-top">
            <ion-icon name="business"></ion-icon> <b>&nbsp;Tunisian</b> Service
            | {{ biz.category.name}} | {{ biz.category.subCategory }}
            <br />
            <ion-icon name="time"></ion-icon> Open from <b>8h:00 to 17h:00</b>
            <br />
            <ion-icon name="mail"></ion-icon
            ><a href="javascript:void(0)">
              {{ biz.email || 'contact@bizspot.com' }}</a
            >
            <br />
            <ion-icon name="call"></ion-icon
            ><a href="javascript:void(0)">
              Call us on (+216) {{ biz.phone || '28 586 842' }}</a
            >
            <br />
            <ion-icon name="arrow-up"></ion-icon
            ><a href="javascript:void(0)">&nbsp;View Directions</a>
          </ion-text>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-segment
      color="tertiary"
      [(ngModel)]="segment"
      (ionChange)="segmentChanged()"
      class="animated fadeInUp"
    >
      <ion-segment-button value="description">
        <ion-icon name="text"></ion-icon>
        <ion-label>Description</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-icon name="star"></ion-icon>
        <ion-label>Reviews</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-card *ngIf="!reviewsSelected">
      <ion-card-content>
        <ion-text color="dark"
          >{{ biz.description || 'No description.' }}</ion-text
        >
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="reviewsSelected" style="margin-bottom : 100px">
      <ion-card-header>
        <ion-card-title class="ion-text-start">
          <ion-button
            (click)="presentModal()"
            expand="full"
            shape="round"
            size="small"
            fill="clear"
            >Give a review
          </ion-button>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content *ngFor="let r of reviews; let i=index">
        <ion-row>
          <ion-avatar>
            <img src="../../assets/img/user.png" />
          </ion-avatar>
          <ion-text color="dark" font-size="10px"
            >{{r.owner}}:&nbsp;&nbsp;&nbsp;&nbsp;</ion-text
          >
          <span>
            <ion-icon
              slot="center"
              *ngFor="let star of Arr(verifyNumber(r.rating)).fill(1)"
              name="star"
              color="warning"
            >
            </ion-icon>
            <ion-icon
              slot="center"
              *ngFor="let star of Arr(5 - verifyNumber(r.rating)).fill(1)"
              name="star"
              color="medium"
            >
            </ion-icon>
          </span>
        </ion-row>
        <ion-row></ion-row>
        <ion-row>
          <ion-text>{{r.comment}}</ion-text>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
