ion-toolbar{
  --background: #163763;
color: #ffffff;
font-size : 20px;
}

#logout{
    width: 30%;
  	margin : 15% 35% 15% 35%;
    --background : #163763;
    --color : #fff;

}

#div0{
background: #2f126e;
height: 30%;
width: 100%;
text-align: center;
vertical-align: middle;
line-height: 70px;
margin-bottom: 10%;
}

img{
 height: 70px;
 width: auto;
}

ion-avatar{
  width: 100%;
 padding-top : 10%;
  text-align: center;
  vertical-align: middle;

}
