<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="flame" class="ion-margin"></ion-icon>BIZspot
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="div0">
    <div class="firstone" id="div1" class="ion-text-center">
      Get Started Now !
    </div>
    <form>
      <ion-item class="ion-margin">
        <ion-label position="floating" class="firstone">Email Adress</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="email"
          name="email"
          class="firstone"
        ></ion-input>
      </ion-item>

      <ion-item class="ion-margin">
        <ion-label position="floating" class="firstone">Password</ion-label>
        <ion-input
          type="password"
          [(ngModel)]="password"
          name="password"
          class="firstone"
        ></ion-input>
      </ion-item>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button (click)="login()">Login</ion-button>
        </ion-col>
        <ion-col class="align-text-middle" (click)="redirectRegister()"
          >Create account ?</ion-col
        >
      </ion-row>
    </form>
    <ion-button id="ignore" (click)="ignore()">Ignore</ion-button>
  </div>
</ion-content>
