<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="flame" margin></ion-icon>BIZspot
    <ion-buttons slot="primary" (click)="presentLoading()">
      <ion-button color="secondary" fill="outline"
        >Load<ion-icon slot="end" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-segment
  (ionChange)="segmentChanged($event)"
  value="search"
  color="secondary"
>
  <ion-segment-button value="search">
    <ion-label>Find biz</ion-label>
  </ion-segment-button>
  <ion-segment-button value="collections">
    <ion-label>Categories</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content [scrollEvents]="true">
  <ion-row>
    <ion-searchbar
      animated
      showCancelButton="focus"
      cancelButtonText="Custom Cancel"
      placeholder="Business"
      *ngIf="!selected"
      search-icon="business"
      [(ngModel)]="bizField"
    >
    </ion-searchbar>
    <ion-searchbar
      animated
      showCancelButton="focus"
      cancelButtonText="Custom Cancel"
      placeholder="Address"
      *ngIf="!selected"
      search-icon="pin"
      [(ngModel)]="locationField"
    >
    </ion-searchbar>
  </ion-row>

  <ion-row class="ion-justify-content-center" *ngIf="!selected ">
    <ion-chip
      color="{{ !filters[0].value ? '': 'secondary' }}"
      (click)="filterByTag(0)"
    >
      <ion-icon name="time" color="primary"></ion-icon>
      <ion-label>Open now</ion-label>
    </ion-chip>
    <ion-chip
      color="{{ !filters[1].value ? '': 'secondary' }}"
      (click)="filterByTag(1)"
    >
      <ion-icon name="cash" color="primary"></ion-icon>
      <ion-label>High price</ion-label>
    </ion-chip>
    <ion-chip
      color="{{ !filters[2].value ? '': 'secondary' }}"
      (click)="filterByTag(2)"
    >
      <ion-icon name="cash" color="primary"></ion-icon>
      <ion-label>Low price</ion-label>
    </ion-chip>
  </ion-row>

  <!-- LIST OF BUSINESSES -->
  <div *ngIf="!selected">
    <ion-card
      *ngFor="let item of items; let i = index"
      (click)="openDetailedInfo(item.id)"
      class="animated fadeInUp"
    >
      <ion-card-content (click)="openDetailedInfo(item.id)">
        <ion-grid>
          <ion-row
            class="ion-justify-content-center ion-padding-start ion-padding-end"
          >
            <ion-col class="ion-float-left" size="7">
              <h2>
                {{ item.title }}
              </h2>
              <ion-label>
                <b>{{ item.location }}</b>
              </ion-label>
              <p
                size="small"
                fill="outline"
                [ngClass]="{disactive: (item.status != 'Available')}"
              >
                Available
                <span>
                  <ion-icon
                    *ngFor="let star of Arr(round(item.rating)).fill(1)"
                    name="star"
                  ></ion-icon>
                </span>
              </p>
              <ion-row [ngSwitch]="item.level" class="progress">
                <ion-col size="5">Reliability</ion-col>
                <ion-col size="7"
                  ><ion-progress-bar
                    *ngSwitchCase="'raising'"
                    color="primary"
                    value="0.3"
                  ></ion-progress-bar>
                  <ion-progress-bar
                    *ngSwitchCase="'recommended'"
                    color="primary"
                    value="0.6"
                  ></ion-progress-bar>
                  <ion-progress-bar
                    *ngSwitchCase="'trusted'"
                    color="primary"
                    value="0.9"
                  ></ion-progress-bar>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="5">
              <div>
                <ion-img
                  [src]="item.thumbnail==''?'../../assets/img/brand.png':item.thumbnail"
                ></ion-img>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-card *ngIf="isFiltred && items.length == 0">
    <ion-card-content>
      <p>No data Found.</p>
    </ion-card-content>
  </ion-card>
  <div *ngIf="!(items.length > 0) && !isFiltred">
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    </div>

    <ion-list>
      <ion-list-header>
        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
      </ion-list-header>

      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <!-- LIST OF CATEGORIES -->
  <div *ngIf="selected && categories.length > 0">
    <ion-card
      *ngFor="let cat of categories"
      (click)="viewCategories(cat.title)"
      class="animated fadeIn stacked"
    >
      <ion-img [src]="cat.thumbnail_url" class="thumbnail"></ion-img>
      <div class="overlay"></div>
      <ion-card-header class="detach">
        <ion-card-title>{{ cat.title }}</ion-card-title>
        <ion-card-subtitle>{{ cat.count }} BIZspot</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>

  <!-- fab placed to the top and end and on the top edge of the content overlapping header -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="searchItems()">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
